body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 200vh;
}

.header,
.footer {
    display: flex;
    box-sizing: border-box;
    height: 48px;
    background-color: #1f2937;
}

.header-box-sizer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo-box {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 100px;
}

.logo-resize {
    width: 10%;
    height: auto;
}

.header-links {
    display: flex;
    margin-left: auto;
    width: 50%;
    justify-content: center;
    gap: 24px;
}

.footer {
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
.copyright-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 24px;
    width: 70%;
    height: auto;
}

.content-box-1 {
    display: flex;
    flex: 1.25 1 0;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.box-1-sizer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 80%;
    gap: 10px;
}

.box-1-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.hero-image {
    width: 50%;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sub-hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.content-box-2 {
    display: flex;
    flex: 1 1 0;
    align-content: flex-end;
    justify-content: center;
}

.rectangle-2 {
    display: flex;
    flex-direction: column;
    height: 95%;
    margin-top: auto;
    gap: 7%
}

.box-2-text {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box-2-img-description {
    display: flex;
    justify-content: center;
    height: 80%;
    gap: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.text {
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 72px;
    text-align: center;
}


/* Add widths of boxes, gap between boxes, images, interesting stuff, border,bring title down */


.content-box-3 {
    display: flex;
    flex: .75 1 0;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center ;
}

.quote-box {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60vw;
}

.quote {
    flex: 8 0 auto;
    font-size: 36px;
    font-style: italic;
}

.author {
    flex: 2 0 auto;
    align-self: flex-end;
    font-weight: bold;
}

/* specify height/width for q-box to flex flex-end align the author */

.content-box-4 {
    display: flex;
    flex: .5 1 0;
    justify-content: center;
    align-items: center;
}

.action-box {
    display: flex;
    height: 50%;
    width: 80vw;
    justify-content: center;
    background-color: #3882f6;
    align-items: center;
    gap: 10%;
}

.action-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.action-top-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.action-bot-text {
    font-size: 18px;
    color: #f9faf8;
}



.action-button,
.hero-button {
    height: 30%;
    width: 15%;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
}

/* create gap/separation between CTA and button, don't center everything */